
  <header>
    <app-banner></app-banner>
  </header>
  <section>
    <div class="contenedor_Datos">
     <div class="foto"><img src="assets/003.jpg" alt="foto" width="150" height="120"></div>
      <div><app-datos-personales></app-datos-personales></div>
   </div>
  </section>
   <footer>
    <H1>HABILIDADES</H1>
    <div class="contenedor_habilidades">
      <app-habilidades [nombre]="'HTML'" ></app-habilidades>
     <app-habilidades [nombre]="'CSS'" ></app-habilidades>
      <app-habilidades [nombre]="'JS'" ></app-habilidades>
     <app-habilidades [nombre]="'Angular'" ></app-habilidades>
    </div>
  </footer>
 
  