/* Contenedor principal*/
.contenedor_Datos{
   padding: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly ;
   margin: 25px;
  
}
.foto{
    
    border: 2px solid black;
    contain: 20px;

}
.contenedor_habilidades{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
     
}